// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@import "*";


// ============================================================
// GLOBAL
// ============================================================

.header-menu{
  width: 100%;
  background-color: $blue-color;
}
// ============================================================
// HOME
// ============================================================

.home-banner{
  height: 500px;
  background-image: image-url("home-banner-bg.jpg")
}
