// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@import "*";

input {
  color: black;
}

// ============================================================
// GLOBAL
// ============================================================

.header-menu{
  width: 100%;
  background-color: $blue-color;
}
// ============================================================
// HOME
// ============================================================

.home-banner{

  height: 450px;
  background-image: image-url("home-banner-bg.jpg")
}
