/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";


@import "*";

input {
  color: black;
}

// ============================================================
// GLOBAL
// ============================================================

@import url(http://fonts.googleapis.com/css?family=Roboto);

body{
  background-color: $light-grey-color;
}
.header-menu{
  width: 100%;
  height: 75px;
  background-color: $blue-color;
}

.btn.btn-primary{
  background: $red-color;
  border: 0;
  padding: 10px 25px;
}

.mastfoot{
  position: static;
}
// ============================================================
// HOME
// ============================================================

.home-banner{
  color: white;
  height: 450px;
  background-image: image-url("home-banner-bg.jpg")
}

button.stripe-button-el{
  background: $red-color;

  span{
    background: none;
  }
}
.home-left-col{
  text-align: left;
  padding-top: 130px;
}
.bannertext1{
  font-family: Roboto, arial, sans-serif;
  font-size: 34px;
  font-weight: 300;
}
.bannertext2{
  font-family: Roboto, arial, sans-serif;
  font-size: 85px;
  font-weight: 700;
}


.home-table{
  background-color: white;
}
.ht__table{
  width: 100%;
  border: 1px solid $border-color;

  td{
    border: 1px solid $border-color;
  }
}


// ============================================================
// PAY PAGE
// ============================================================

.pay-panel{
  margin-top: 80px;
}