<div class="pay-page">

  <div class="pay-panel well col-md-4 col-md-offset-4">
    
    <%= form_tag charges_path do %>
      <article>
        <label class="amount">
          <span>Amount: 5.00EUR</span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-address="true"
              data-description="Preloaded card"
              data-currency="EUR"
              data-amount="500"></script>
    <% end %>

  </div>
